<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Welcome To DOKA 2 TRADE!</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
<div id="page">
    <header>
        <div class="headercontent">
            <a class="dokalogo" href="/">
                <img id="logoimg" src="img/dota_logo.png" alt="Logo">
                <h1>doka 2 trade</h1>
            </a>
            <nav>
                <ul>
                    <li>
                        <a class="navtext" href="/news">новости</a>
                    </li>
                    <li>
                        <a class="navtext" href="/articles">статьи</a>
                    </li>

                    <li>
                        <a class="navtext" href="/reviews">обзоры</a>
                    </li>
                    <li>
                        <a class="navtext" href="/forum">форум</a>
                    </li>
                </ul>
            </nav>
            <div class="icons">
                {{{body}}}
                <div class="searchicon">
                    <a class="navtext">
                        <img src="img/search2.png" alt="Search Icon">
                    </a>
                    <div id="searchcontainer" class="searchcontainer">
                        <form id="searchform" action="/search" method="GET">
                            <input type="text" placeholder="Поиск" name="search" value="">
                            <input type="submit" value="Искать" style="display: none;">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="first">
        <div id="content">
        </div>

    </section>
    <footer>
        © 2018 Все права защищены
    </footer>
    <div id="button_move_up">
        <div>🢁</div>
    </div>
    <audio>
        <source src="snd/surprise_mf.mp3" type="audio/mpeg">
    </audio>
    <audio>
        <source src="snd/toasty.mp3" type="audio/mpeg">
    </audio>
    <script type="text/babel" src="js/loadJson.js"></script>
    <script src="js/easterEggs.js"></script>
    <script src="js/scrollTop.js"></script>
    <script src="js/expand.js"></script>
    <script src="js/highlightLogo.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</div>
</body>
</html>