<div class="loginicon">
    <a class="navtext">
        <img src="img/login3.png">
    </a>
    <div id="formcontainer" class="logincontainer-expand" style="display: block;">
        <form id="loginform" method="post" action="/login">
            <input type="text" name="username" placeholder="Логин" id="login">
            <input type="password" name="password" placeholder="Пароль" id="pass">
            <input type="submit" value="Войти" style="cursor: pointer;">
            <div style="display: flex; justify-content: center;">
                <a href="/register" style="color: initial; cursor: pointer; text-decoration: underline;">Зарегистрироваться.</a>
            </div>
        </form>
    </div>
</div>

