<div class="loginicon">
    <a class="navtext">
        <img src="img/login3.png">
    </a>
    <div id="formcontainer" class="logincontainer-expand" style="display: block;">
        <form id="loginform" method="post" action="/register">
            <input type="text" name="firstname" placeholder="Имя" id="firstname">
            <input type="text" name="lastname" placeholder="Фамилия" id="lastname">
            <input type="text" name="username" placeholder="Логин" id="login">
            <input type="password" name="password" placeholder="Пароль" id="pass">
            <input type="password" name="password2" placeholder="Повторите пароль" id="pass2">
            <input type="submit" value="Зарегистрироваться" style="cursor: pointer;">
            <div style="display: flex; justify-content: center;">
            </div>
        </form>
    </div>
</div>


